<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between" href="#">
                    <div>
                        <img style="margin-right: 8px;" src="../drawables/chat_bubble.svg"/>
                        Student #713
                    </div>
                    <button type="button" class="closeBtn">
                        <img src="../drawables/close.svg"/>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Max Tu...</a>
            </li>
            <div class="vl"></div>
            <li class="nav-item"></li>
                <a class="nav-link" href="#">Cordul...</a>
            </li>

            <div style="margin-right: 12px; margin-top: 8px;" class="d-flex ml-auto">
                <button style="margin-right: 8px" type="button" class="btn btn-circle btn-sm d-flex justify-content-center" aria-pressed="true">
                    <img src="../drawables/call.svg"/>
                </button> 
                <button type="button" class="btn btn-circle btn-sm ml-auto d-flex justify-content-center" aria-pressed="true">
                    <img src="../drawables/add.svg"/>
                </button>   
            </div>
        </ul>
    </div>

    <div class="card-body d-flex flex-column">
        <div class="chat flex-grow-1 d-flex flex-column">
            <div class="chatMsg partnerMsg d-flex align-items-center justify-content-between">
                <p>this is a quite long testmessage</p> 
                <div class="ts">12:43am</div>
            </div>
            <div class="chatMsg userMsg d-flex align-items-center justify-content-between">
                <p>this is a quite long answer</p>
                <div class="ts">12:46am</div>
            </div>
            <div class="chatMsg userMsg d-flex align-items-center justify-content-between">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="ts">12:46am</div>
            </div>
        </div>
        
        <div class="bottomBar d-flex align-items-center">
            <button type="button" class="btn btn-circle btn-sm d-flex justify-content-center" aria-pressed="true">
                <img src="../drawables/emoticon.svg"/>
            </button>
            <input class="form-control"/>
            <button type="button" class="btn btn-circle btn-sm d-flex justify-content-center" aria-pressed="true">
                <img src="../drawables/send.svg"/>
            </button>
        </div>
    <div>
</div>