<link rel="stylesheet" href="../plugin/prism.css">
<link rel="stylesheet" href="../plugin/prism-live.css">

<script>
    function OnScroll(div) {
        var pos = document.getElementById("line_numbers");
        pos.scrollTop = div.scrollTop;
    }
</script>

<div class="d-flex editor">
    <div class="d-flex flex-column align-items-end" id="line_numbers">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
        <p>9</p>
        <p>10</p>
        <p>11</p>
        <p>12</p>
        <p>13</p>
        <p>14</p>
        <p>15</p>
        <p>16</p>
        <p>17</p>
        <p>18</p>
        <p>19</p>
        <p>20</p>
        <p>21</p>
        <p>22</p>
        <p>23</p>
        <p>24</p>
        <p>25</p>
        <p>26</p>
        <p>27</p>
        <p>28</p>
        <p>29</p>
        <p>30</p>
    </div>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active d-flex justify-content-between" href="#">
                        main.java
    					<button type="button" class="closeBtn">
    						<img src="../drawables/close.svg"/>
    					</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">yikes.java</a>
                </li>
            </ul>
        </div>

        <div class="card-body">

<textarea id="editor" spellcheck="false" onscroll="OnScroll(this)" class="prism-live language-java">package view
import javax.swing.JFrame
import javax.swing.JPanel
import javax.swing.JLabel
import javax.swing.JComboBox
import java.awt.BorderLayout
import java.awt.Dimension

class MainFrame : JFrame() {
    
    init {
        createUI()
    }
    
    private fun createUI() {
        setTitle("Example Code")
        
        defaultCloseOperation = JFrame.EXIT_ON_CLOSE
        setSize(640, 480)
        setLocationRelativeTo(null)
        setVisible(true)
        
        openProfileSelection()
    }
    
    private fun openProfileSelection() {
        add(ProfileSelection())
        validate()
    }
}</textarea>

        </div>
    </div>
</div>

<script src="https://blissfuljs.com/bliss.shy.min.js"></script>
<script src="../plugin/prism.js"></script>
<script src="../plugin/prism-live.js"></script>
<script src="../plugin/prism-live-markup.js"></script>
<script src="../plugin/prism-live-css.js"></script>
<script src="../plugin/prism-live-javascript.js"></script>