<div id="editor" class="card flex-fill">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between" href="#">
                    main.java
					<button type="button" class="closeBtn">
						<%= image_tag("close.svg") %>
					</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">yikes.java</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div id="myEditor"></div>
    </div>
</div>