<div style="height: 100%;" class="d-flex flex-column">
    <div class="title container d-flex align-items-center">
        <img src="../drawables/folder_shared.svg"/>
        <p>Package Explorer</p>
        <button type="button" class="btn btn-circle btn-sm ml-auto d-flex justify-content-center" aria-pressed="true">
            <img src="../drawables/add.svg"/>
        </button>
    </div>

    <hr/>

    <div class="files d-flex flex-column flex-grow-1">
        <ul class="list-group">
            <a href="#" class="list-group-item d-flex align-items-center folder">
                <img class="collapse_indicator" src="../drawables/arrow_right.svg"/>
                <img src="../drawables/folder_open.svg"/>
                <p>Assignment 06</p>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center file">
                <img src="../drawables/file.svg"/>
                <p>main.java</p>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center file">
                <img src="../drawables/file.svg"/>
                <p>yikes.java</p>
            </a>
        </ul>
        <ul class="list-group folder">
            <a href="#" class="list-group-item align-items-center d-flex folder">
                <img class="collapse_indicator" src="../drawables/arrow_right.svg"/>
                <img src="../drawables/folder_open.svg"/>
                <p>Assignment 07</p>
          </a>
        </ul>
    </div>

    <div class="title bottomtitle container d-flex mt-auto align-items-center justify-content-center">
        <img src="../drawables/queue.svg"/>
        <p>16 students in queue</p>
        <button type="button" class="btn finish" aria-pressed="true">FINISH CURRENT</button>
    </div>
</div>